body {
    font-family: Arial, sans-serif;
    background-color: #ff0000;
    background-image: url(https://r4.wallpaperflare.com/wallpaper/326/923/823/flag-brazil-brasil-wallpaper-896048cde15a4dbb76c7089f80f1669d.jpg);
    background-position: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #686868;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 238, 255, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 5px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ff0000;
    border-radius: 20px;
}
#nome{
    /* Estilos para o campo com o ID "meuCampo" */
  border: 2px solid rgb(0, 0, 0);
  padding: 70px;
  border-radius: 70px;
  margin-top: 70px;
  color: #000000;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9OXYzRen-kTEYa4QeE5KAJHdaCGz-mde6pQ&s);
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #7f0099;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c8ff00;
}
.contexto{
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    flex: 0 0 120px; /* Largura fixa para o rótulo */
    text-align: right;
    margin-right: 10px;
}

.form-control {
    flex: 1; /* Ocupa o espaço restante */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajuste a altura conforme necessário */
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  flex: 0 0 120px; /* Largura fixa para o rótulo */
  text-align: right;
  margin-right: 10px;
}

.form-control {
  flex: 1; /* Ocupa o espaço restante */
}.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    flex: 0 0 120px; /* Largura fixa para o rótulo */
    text-align: right;
    margin-right: 1px;
}

.form-control {
    flex: 1; /* Ocupa o espaço restante */
}